
body{
    margin: 0%;
    padding-top: 0%;
    /* background-image: linear-gradient(purple 40%  ,aqua ); */
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
}
#img1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
   
}
header{
    
    width: 100%;
    position: sticky;
    background-image: linear-gradient(60deg ,rgba(24, 61, 184, 0.697)   ,rgba(6, 86, 199, 0.803) );
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
table{
    border: 2px solid;
    border-radius: 15px;
    position: relative;
    bottom:  200px;
    left:500px;
    background-color: rgb(192, 208, 255);
}
button,#fileInput{
    position: relative;
    left:500px;
    padding: 10px 40px ;
    border-radius: 10px;
    bottom:  200px;
}
#edit{
    text-decoration: none;
}
img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
}
#pic{
    width: 200px;
    height: 200px;
}
